body {
  width: 100vw;
  height: 100vh;
}

.liteAdList {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: #dbdbdb;
}

.inners-scripts-container {
  width: 100%;
}

.mainGymInfo {
  width: 85%;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
}

.scripts {
  display: flex;
  flex-direction: row;
}

.inner-scripts-main {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 10px;
}

.gymName {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gymPrices {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.originalPrice {
  text-decoration: line-through;
  font-size: 11px;
  color: gray;
}

.discountRate {
  color: red;
}
.imgTag > img {
  width: 370px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
}
.tagLike {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: gray;
  font-size: 14px;
}

.scripts-lower {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.priceLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dailyItem,
.membership {
  border-radius: 7px;
  background-color: rgba(148, 224, 254, 0.76);
  padding: 4px;

  font-size: 10px;
  font-weight: 600;
  color: blue;
}
.freeProperty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  background-color: #dbdbdb;
  padding: 10px;
}

.freeProg,
.freeServices {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
}

.freeProg-inner,
.freeServices-inner {
  color: gray;
  font-weight: 600;
}

.freeProg-innerText,
.freeServices-innerText {
  font-size: 12px;
}

.gymName-inner,
.lowestPrice {
  font-weight: 600;
  font-size: 20px;
}

.gymAddr-inner,
.reviewRate,
.reviewCount {
  font-size: 12px;
  color: gray;
}

.reviewRate {
  color: gold;
  font-weight: 600;
}
