.box {
  border: 1px solid black;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.small {
  width: 100px;
  height: 100px;
}
.medium {
  width: 150px;
  height: 150px;
}
.large {
  width: 200px;
  height: 200px;
}
.x-large {
  width: 250px;
  height: 250px;
}
.XX-large {
  width: 300px;
  height: 300px;
}

.borderRadi-0 {
  border-radius: 0px;
}

.borderRadi-10 {
  border-radius: 10px;
}

.borderRadi-20 {
  border-radius: 20px;
}
