body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.searchContainer {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchContainer > h3 {
  margin: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}

.searchBar {
  width: 600px;
  height: 30px;
  margin: 15px 0px;
  padding: 5px;
  font-weight: normal;
  font-size: 15px;

  color: rgb(61, 65, 73);
  border: 1px solid rgb(218, 221, 229);
  border-radius: 8px;
  outline: none;
  transition: scale 0.5s;
}

.searchBar:focus {
  border: 2px solid blue;
}

.startSearchBtn {
  position: absolute;
  top: 20px;
  right: 5px;
  border: none;
  background-color: inherit;
}

.erase {
  display: none;
}

#glassIcon {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.inputContainer {
  position: relative;
  display: flex;
}

#searchIcon {
  padding: 5px;
  display: flex;
  font-size: 20px;
  transition: all 0.5s;
}

#searchIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.searchBtn {
  border: none;
  background-color: inherit;
}
.searchBtn :hover {
  cursor: pointer;
  fill: white;
  background-color: skyblue;
}

.liteAdList {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: #dbdbdb;
}

.inners-scripts-container {
  width: 100%;
}

.mainGymInfo {
  width: 85%;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
}

.scripts {
  display: flex;
  flex-direction: row;
}

.inner-scripts-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  padding: 10px;
}

.gymName {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gymPrices {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.originalPrice {
  text-decoration: line-through;
  font-size: 11px;
  color: gray;
}

.discountRate {
  color: red;
}
.imgTag > img {
  width: 370px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 10px;
}
.tagLike {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: gray;
  font-size: 14px;
}

.scripts-lower {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.priceLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dailyItem,
.membership {
  border-radius: 7px;
  background-color: rgb(234, 238, 255);
  padding: 4px;

  font-size: 10px;
  font-weight: 600;
  color: rgb(92, 92, 255);
}
.freeProperty {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background-color: #efefef;
  padding: 15px 10px;
  gap: 15px;
}

.freeProg,
.freeServices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(69, 69, 69);
}

.freeProg-inner,
.freeServices-inner {
  color: gray;
  font-weight: 600;
}

.freeProg-innerText,
.freeServices-innerText {
  font-size: 12px;
}

.gymName-inner,
.lowestPrice {
  font-weight: 600;
  font-size: 20px;
}

.gymAddr-inner,
.reviewRate,
.reviewCount {
  font-size: 12px;
  color: gray;
}

.reviewRate {
  color: gold;
  font-weight: 600;
}
